@media(max-width: 900px) {

  .block {
    display: flex;
    flex-direction: column;
  }

  .img_swing {
    margin-left: 25%;
    margin-bottom: 5%;
  }

  .more_text {
    margin-top: 8%;
    margin-left: 15%;
  }
}